
extends ../layout

append body
	.container
		if bin
			div.binTits
				div
					a(href='/ventures/#{bin.venture_id}')
						span.back(class="glyphicon glyphicon-chevron-left" aria-hidden="true") 
						span.back back to bins
				h1.binTitle #{bin.title}
				img.binUserImg(src='#{bin.image}')
				p User: #{bin.user_id}
		div
			.scrollDiv
				each item, index in kit 
					a(href='#{kit[index].url}')
						div.kitItem
							img.kitImg(src='#{kit[index].image}') 
							.kitText
								p #{kit[index].item} 
								p #{kit[index].price}
							br
			if (bin.user_id == user)
				.kit
					button.btn.btn-primary(href='#{bin.id}/kits/new') add an item
					button.btn.btn-primary(href='#{bin.id}/edit') edit link
					p
					form(action='/ventures/#{bin.venture_id}/bins/#{bin.id}/delete' method='post')
						input.btn.btn-primary(type='submit' value='Delete')
			div.binBottom
				p "#{bin.description}"
				hr
				p "#{bin.advice}"
			
				
			
