
extends ../layout

append body
	.container
		h1= title
		br
		br
		if kit
			img(src='#{kit.picture}')
			p Item: #{kit.item}
			p Price: #{kit.price}
			a(href='#{kit.url}') Link to Amazon page
			br
			a(href='#{bin.id}/edit') Edit Link
			
