
extends ../layout

append body
	.container
		.cardDisplay
			for bin, index in bins
				div.card
					a(href='/ventures/#{ventu_id}/bins/#{bins2[index].id}')
						h3.cards #{bin.title}
						img(class='binPreview' src="#{bin.image}")
						form(action='/upvotes' method='post')
							input(type="text" value=bins2[index].id name='id' hidden='true')
							input(type="text" value=bins2[index].venture_id name='ven' hidden='true')
							input.heart(type='image' src='https://s3-us-west-2.amazonaws.com/testphotosnoobish/like.png')
						h4.upvote #{bin.upvote}
						h4.upvote #{bin.username}

				
	h1 
		a(href='/ventures/#{ventu_id}/bins/new') Add Your Shit
